<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Document</title>
</head>
<body>
<div class="container">
    <h1 class="mt-5">Cadastre-se</h1>
    <form action="/cadastro" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text" id="sp_nome"><i class="fa-solid fa-signature"></i></span>
            <input id="nome" name="nome" type="text" class="form-control" placeholder="Nome" aria-label="Nome"
                   aria-describedby="sp_nome">
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="sp_email"><i class="fa-regular fa-envelope"></i></span>
                    <input id="email" name="email" type="text" class="form-control" placeholder="e-Mail"
                           aria-label="Email"
                           aria-describedby="sp_email">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="sp_usuario"><i class="fa-regular fa-user"></i></span>
                    <input id="usuario" name="usuario" type="text" class="form-control" placeholder="Usuario"
                           aria-label="Usuario"
                           aria-describedby="sp_usuario">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="sp_senha"><i class="fa-solid fa-key"></i></span>
                    <input id="senha" name="senha" type="password" class="form-control" placeholder="Senha"
                           aria-label="Senha"
                           aria-describedby="sp_senha">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="sp_confsenha"><i class="fa-solid fa-key"></i></span>
                    <input id="confsenha" name="confsenha" type="password" class="form-control" placeholder="Confirmação de Senha"
                           aria-label="Confirmação de Senha"
                           aria-describedby="sp_confsenha">
                </div>
            </div>
            <div class="col-sm-12 text-end">
                <input value="Cadastrar" type="submit" class="btn btn-success">
            </div>
        </div>
    </form>
</div>
</body>
</html>